:root {
	--background: oklch(0.14 0.00 0);
	--foreground: oklch(0.77 0.20 131);
}

html {
	font-family: 'Jetbrains Mono', monospace;
	font-style: normal;
}

body {
	background-color: var(--background);
	color: var(--foreground);
}
