/*tema de colores, se puede cambiar al gusto*/
:root {
	--background: oklch(0.14 0.00 0);
	--secondary: oklch(0.20 0.00 0);
	--foreground: oklch(0.51 0.23 277);
	--destructive: oklch(0.58 0.22 27);
}

html {
	font-family: 'Silkscreen', monospace;
	font-style: normal;
	view-transition-name: none;
}

h1,
p {
	margin: 0;
}


h1 {
	font-weight: 300;
	font-size: 2rem;
	letter-spacing: -0.05em;
}

body {
	background-color: var(--background);
	color: var(--foreground);
	overflow: hidden;
	padding: 0;
	margin: 0;
	position: relative;
}

body::before {
	content: "";
	position: fixed;
	top: -10%;
	left: -10%;
	width: 120%;
	height: 120%;
	pointer-events: none;
	background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noise'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='1.2' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noise)' opacity='0.05'/%3E%3C/svg%3E");
	animation: noiseMove 0.2s steps(2) infinite;
}

@keyframes noiseMove {
	0% {
		transform: translate(0, 0);
	}

	100% {
		transform: translate(-5%, -5%);
	}
}

#root {
	view-transition-name: game-container;
}

::view-transition-old(game-container) {
	animation: fade-out 0.3s ease-out forwards;
}

::view-transition-new(game-container) {
	animation: fade-in 0.3s ease-in forwards;
	animation-delay: 6s;
}

#root {
	view-transition-name: game-container;
}

@keyframes fade-in {
	from {
		opacity: 0;
		transform: translateY(10px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes fade-out {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

@keyframes fade {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

/*utilidades globales*/
.center-container {
	max-width: 100vw;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	max-height: 100vh;
}

.bg-black {
	background-color: black;
}

.items-center {
	align-items: center;
	justify-content: center;
}

.container {
	max-width: 64rem;
}

.flex {
	display: flex;
}

.flex-row {
	flex-direction: row;
	align-items: baseline;
	gap: 1.2rem;
}

.truncate {
	max-width: 20rem;
	text-align: center;
}

.truncate-xl {
	max-width: 30rem;
	text-align: center;
}

.text-xl {
	font-size: 1.8rem;
	letter-spacing: -0.15em;
}

.text-lg {
	font-size: 1rem;
}

.text-2xl {
	font-size: 2.5rem;
	letter-spacing: -0.15em;
}

.my-1 {
	margin: 6px 0;
}

.my-2 {
	margin: 16px 0;
}

.mx-1 {
	margin: 0 6px;
}


.mx-2 {
	margin: 0 16px;
}

.fade {
	animation-name: fade;
	animation-duration: 0.2s;
}

.delay {
	animation-delay: 1s;
}

.font-semibold {
	font-weight: 600;
}

.gap {
	margin: 2.5rem 0;
}

.description {
	font-size: 1.0rem;
}

/*class StartMenu*/

.dialog {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	/* border: 1px solid var(--foreground); */
	padding: 1.8rem;
	gap: 0.6rem;
}

.loader-title {
	font-weight: 300;
	font-size: 2rem;
	margin: 0.8rem;
	letter-spacing: -0.05em;
	font-family: "Silkscreen", sans-serif;
	font-weight: 600;
}

.loader {
	width: 22rem;
	height: 1.8rem;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	background-color: var(--background);
	border: 0.2rem solid var(--foreground);
	padding: 0.2rem;
}

.loader-intern {
	height: 100%;
	width: 0%;
	background-color: var(--foreground);
	animation: loadIn 4s forwards, fade-out 0.2s 4s linear;
	transition: transform 0.5s cubic-bezier(0.12, 0, 0.39, 0)
}

.start-button {
	width: 22rem;
	height: fit-content;
	font-family: "Silkscreen", sans-serif;
	font-weight: 500;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--background);
	font-size: 1rem;
	border: 1px solid var(--foreground);
	color: var(--foreground);
	padding: 0.6rem 1.2rem;
	transition: ease 0.10s;
}

.start-button:hover {
	background-color: var(--secondary);
	cursor: pointer;
}


@keyframes loadIn {
	from {
		width: 0%;
	}

	to {
		width: 100%;
	}
}

.loader-footer {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	justify-content: space-between;
	font-size: 1.0rem;
	margin: 4px 0px;
}

.start-title {
	font-weight: 100;
	font-size: 2rem;
	margin: 0;
	font-family: "Silkscreen", sans-serif;
	font-weight: 600;
	letter-spacing: -0.10em;
}

.start-modal {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	border: 1px solid var(--foreground);
	padding: 1.8rem;
	gap: 0.6rem;
}

.start-modal::after,
.start-modal::before {
	content: '';
	position: absolute;
	top: -1px;
	bottom: -1px;
	right: 100%;
	width: 1rem;
	border: var(--foreground), solid, 1px;
	translate: var(--foreground) 0;
}

.start-modal::before {
	background: var(--foreground);
	mask: linear-gradient(#fff, hsl(0 0% 100% / 0.6) 15% 95%, #fff);
}

.start-footer {
	display: flex;
	justify-content: end;
	width: 100%;
	gap: 12px;
}

.continue-button {
	font-family: "Silkscreen", sans-serif;
	font-weight: 500;
	background-color: var(--background);
	font-size: 1.0rem;
	border: 1px solid var(--foreground);
	color: var(--foreground);
	padding: 0.6rem 1.2rem;
	transition: ease 0.10s;
}

.continue-button:hover {
	font-family: "Silkscreen", sans-serif;
	cursor: pointer;
	font-weight: 500;
	background-color: var(--foreground);
	border: 1px solid var(--foreground);
	color: var(--background);

	padding: 0.6rem 1.2rem;
}

.terminal {
	background-color: black;
	padding: 2rem;
	margin: 2rem 0;
	font-size: 0.8rem;
}

.input {
	font-family: "silkscreen", sans-serif;
	font-weight: 500;
	background-color: var(--background);
	font-size: 1.0rem;
	width: 24rem;
	border: 1px solid var(--foreground);
	color: var(--foreground);
	padding: 0.6rem 1.2rem;
	transition: ease 0.10s;
}

.input:focus {
	outline: 1px solid var(--foreground);
}

.level-footer-container {
	display: flex;
	flex-direction: column;
	width: fit-content;
	gap: 8px;
	margin: 0 auto;
}

.level-footer {
	margin: 0 auto;
	width: fit-content;
}

.error {
	color: var(--destructive);
	font-size: 0.8rem;
}


.lives-container {
	position: absolute;
	top: 1rem;
	right: -1rem;
	scale: 0.6;
}

.lives {
	view-transition-name: lives;
}
